*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.txt
!resources
!resources/*
!envs
!envs/*
!schemas
!schemas/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!units.txt
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
.Rproj.user
